# Force HTTPS
RewriteEngine on
RewriteCond %{REQUEST_SCHEME} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Node.js routing
RewriteRule (.*) http://127.0.0.1:51250%{REQUEST_URI} [P,L]
